{% load static %}
<!doctype html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn-apply.likelion.org/static/img/favicon/favicon-16x16.png">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}?ver=1">
    <link rel="stylesheet" href="{%static 'css/mycss.css'%}?{% now "U" %}">
    <!--?{% now "U" %}-->
    
    <title>멋쟁이 사자처럼 8기 지원</title>
    <script>
        jQuery(function($) {
            $("body").css("display", "none");
            $("body").fadeIn(2000);
            $("a.transition").click(function(event){
                event.preventDefault();
                linkLocation = this.href;
                $("body").fadeOut(1000, redirectPage);
            });
            function redirectPage() {
                window.location = linkLocation;
            }
        });
    </script>
        
  </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 container">
                    <img class="logo"
                    onclick="location.href='/'" 
                     src="https://cdn-apply.likelion.org/static/imgs/logo.png" 
                     alt="멋쟁이사자처럼 로고">
                    <img
                    style="height:25px;margin-top:15px;margin-left:5px;"
                    src="{% static 'image/inulion.png' %}"  
                    alt="인천대 멋쟁이사자처럼 로고"
                    >
                </div>
            </div>
        </div>
        {% block content %} 
        {% endblock %} 


    
    </body>
    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 container">
                    <div class="row nav-footer">
                    {% if user.is_authenticated %}
                        <h3><a class="delete-apply mar-r" href="{% url 'check_apply' %}">지원자확인 </a></h3>
                        <br>
                        <h3><a class="delete-apply mar-r" href="{% url 'logout' %}">로그아웃 </a></h3>
                    {% endif %}
                    </div>
                    <div >
                        <div class="social" style="float:right; text-align:right;">
                            <span class="B" style="font-size:13px;">Facebook : </span>
                            <a href="https://facebook.com/likelioninu">
                                <img
                                style="height:30px;"
                                src="{% static 'image/facebook.png' %}"  
                                alt="fb"/>
                            </a>
                            <br>
                            <span class=" B" style="font-size:13px;">KakaoTalk : </span>
                            <a href="https://pf.kakao.com/_suMPd">
                                <img
                                style="height:20px;"
                                src="{% static 'image/kakao.png' %}"  
                                alt="fb"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>