{%include 'base.html'%}
{%load static%}
{%block content%}
{% if user.is_authenticated %}
    <div class="container form-box">
        <div class="applier-detail applier-name">
            <h1>지원자 : <span class="yellow">{{applier.name}}</span></h1>
        </div>
        <div class="applier-info">
            <div class="applier-detail">
                <h3>전공 : <span class="yellow">{{applier.major}}</span></h3>
            </div>
            <div class="applier-detail">
                <h3>성별 : 
                    <span class="yellow">
                        {% if applier.gender == 'm'%}
                        남자
                        {% else %}
                        여자
                        {% endif %}
                    </span>
                </h3>
            </div>
            <div class="applier-detail">
                <h3>연락처 : <span class="yellow">{{applier.phone}}</span></h3>
            </div>
            <div class="applier-detail">
                <h3>학번 : <span class="yellow">{{applier.year|slice:"2:"}}학번</span></h3>
            </div>
            <div class="applier-detail">
                <h3> Blog / Github : 
                    <span class="yellow">
                        {% if applier.url %}
                        <a 
                            href="{{applier.url}}">{{applier.url}}</a>
                        {% else %}
                        첨부내용 없음
                        {% endif %}
                    </span>
                </h3>
            </div>
            <div class="applier-detail">
                <h3> 첨부파일 : 
                    <span class="yellow">
                        {% if applier.files %}
                        <a 
                            href="/media/{{applier.files}}">다운로드</a>
                        {% else %}
                        없음
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        
            <div class="applier-detail applier-name">
                <h2>지원동기</h2>
            </div>
            <div class="applier-info">
                <p class="p-font">{{applier.why|linebreaksbr}}</p>
            </div>

            <div class="applier-detail applier-name">
                <h2>만들고 싶은 서비스</h2>
            </div>
            <div class="applier-info">
                <p class="p-font">{{applier.service|linebreaksbr}}</p>
            </div>

            <div class="applier-detail applier-name">
                <h2>기억에 남는 단체활동 경험 또는 프로젝트</h2>
            </div>
            <div class="applier-info">
                <p class="p-font">{{applier.memory|linebreaksbr}}</p>
            </div>

            <div class="applier-detail applier-name">
                <h2>* 팀을 이룬다면, 맡고싶은 역할(코딩,디자인 등) 과 관련 경험을 적어주세요.</h2>
            </div>
            <div class="applier-info">
                <p class="p-font">{{applier.coding|linebreaksbr}}</p>
            </div>
            <div>
            <div class="div-center">
                <a 
                    href="{% url 'check_apply' %}"
                    class="btn button_lion">
                    <span class="B">돌아가기</span>
            </a>
        </button>
            </div>
        </div>
        
    </div>
    
</br>

</br>

</br>

{% endif %}
{%endblock%}
