{%include 'base.html'%}
{%load static%}
{%block content%}
    <div class="container" >
        <div class="h1-highlight">
            <h1>지원자 명단</h1>
            <h3>총 지원자 수 : <span class="yellow">{{applys.all.count}}</span> 명 </h3>
        </div>
        <div class="applier-content">
            {% for apply in applys.all %}
                <div class="applier-box">
                    <h3>이름 : {{apply.name}}</h3>
                    <p>전공 : {{apply.major}}</p>
                    <a onclick="location.href='applier/{{apply.id}}'" class="btn-warning check-btn">
                        <span class="B">지원서 확인</span>
                    </a>
                    <a class="delete-apply" href="{% url 'delete' apply.id %}"> 삭제 </a>
                </div>
            {%endfor%}
        </div>
    </div>
    
</br>
{%endblock%}
