@font-face {
    font-family: 'hnu';
    src: url('../fonts/HangeulNuriR.ttf');
}@font-face {
    font-family: 'hnuB';
    src: url('../fonts/HangeulNuriB.ttf');
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

h1,h2,h3,p,span,label{
    font-family: 'hnu', sans-serif;
    -ms-user-select: none; -moz-user-select: -moz-none; 
    -webkit-user-select: none; -khtml-user-select: none;
     user-select:none;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    background-color:black;
    margin:0;
    animation: fadein 1000ms ease-out;
}

footer{
    text-align: right;
    font-size:13px;
    position: absolute;
    bottom:0;
    padding:15px;
    line-height:5px;
    color:white;
    margin-top:100px;
}
.logo{
    max-width:150px;
    margin-top:15px;
}
.middle_content{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    width: 100%;
    text-align:center;
    color:white;
}
.left{
    text-align:left;
    margin-left:15%;
}
.right{
    text-align:right;
    margin-right:15%;
}
.div-center{
    text-align:center;
}
.yellow{
    color:rgba(255, 174, 0, 0.993);
}
.B{
    font-family: hnuB;
}
.button_lion{
    background-color:rgba(255, 174, 0, 0.993);
    border:3px solid rgba(0,0,0,0.1);
    color:rgba(0, 0, 0, 0.5);
    width:130px;
    height:45px;
    margin-top:20px;

    position:relative;
    margin-left:15px;
    
    }.button_lion:after{
        border-top:15px solid rgba(255,174,0,0.933);
        border-left: 15px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid transparent;
        content:"";
        position:absolute;
        top:10px;
        left:-15px;
    }
.input-box{
    width:100%;
    margin-bottom:20px;
}

.title{
    
    transform: translateX(-25%);
    font-size:30px;
    color:rgba(255,255,255,0.3)
    }@media screen and (min-width: 700px) {
    .title {
        font-size: 5em;
    }
    }@media screen and (min-width: 1500px) {
        .title {
            font-size: 5em;
            transform: translateX(0%);
        }
}
.div-inline{
    display:inline;
}
.title_lion{
    font-size:30*1.3px;
    z-index: 10;
    transform: translateY(-50%);
    
    }@media screen and (min-width: 700px) {
    .title_lion {
        font-size: 6.5em;
    }
    }@media screen and (min-width: 1500px) {
        .title {
            font-size: 5em;
            transform: translateY(0%);
        }
}
.form-control,textarea,.sl{
    background-color: black;
    color: whitesmoke;
    border: 1px solid #FF9E1B;
}
.form-control{
    width:100%;
    max-width:200px;
}

.form-login{
    background-color: black;
    color: whitesmoke;
    border: 1px solid #FF9E1B;
}

textarea{
    height:400px;
    width:100%;
}
.file-box{
    width: 20%;
    float: left;
    margin: 10px;
    border: 1px solid #FF9E1B;
    color: white;
    padding: 10px;
}

.social {
    font-size: 30px;
    text-align: center;
}

.form-box{
    width: auto;
    height: auto;
    margin-top:50px;
    margin-bottom: 500px;
    color:white;
}
.policy_box{
    font-size:10px;
}
.submit_button{
    margin-bottom:200px;
    float:right;
}

.h1-highlight{
    margin: 10px 10px 0px 0px;
    color:white;
    text-align: center;
}

.p-font{
    font-size: 20px;
}

.applier-content{
    text-align: center;
    width: 120%;
}

.mar{
    margin-top: 10px;
}
.mar-r{
    margin-right: 10px;
}


.applier-box{
    width: 20%;
    float: left;
    margin: 10px;
    border: 1px solid #FF9E1B;
    border-radius: 15px;
    color: white;
    padding: 10px;
}

.check-btn{
    border-radius: 10px;
    color: black !important;
    font-size: 20px;
    width: 200px;
    height: 40px;
    margin-right: 10px;
}

.delete-apply{
    color: white;
    text-align: center;
}

.applier-detail{
    margin-bottom: 10px;
}

.applier-name{
    text-align: center;
    margin-top: 30px;
    margin-bottom:30px;

}

.applier-info{
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #FF9E1B;
    border-radius: 15px;
}

.nav-footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* apply/mycss */