{%include 'base.html'%}
{%load static%}
{%block content%}

    <div class="container form-box">
            <form action="{%url 'confirm'%}">
                <div class="input-box">
                    <label >* 이름</label>
                    <input name="name" type="text" class="form-control form-control-sm"  required>
                </div>
                <div class="input-box">
                    <label for="id_gender">* 성별</label>
                    <br>
                    <select name="gender"class="sl" required>
                        <option value="m">남자</option>
                        <option value="wm">여자</option>
                    </select>
                </div>
                <div class="input-box">
                    <label >* 연락처</label>
                    <span class="help font-italic"> "010-0000-0000"</span>
                    <input name="phone" type="text" class="form-control"  required>
                </div>
                <div class="input-box">
                    <label>* 입학년도</label>
                    <span class="help font-italic"> "20XX"</span>
                    <input name="year" type="number"  class="form-control form-control-sm" required>
                </div>
                <div class="input-box">
                    <label>* 전공</label>
                    <input name="major" type="text"  class="form-control form-control-sm"  required>
                </div>
                <div class="input-box">
                    <label><span style="color:gray">(선택) </span>
                        깃허브 또는 SNS(블로그 등) 링크</label>
                    <input name="url" type="url" class="form-control form-control-sm">
                </div>
                <div class="input-box">
                    <label>* 지원 동기</label>
                    <br>
                    <textarea name="why" name="answer1"  required=""></textarea>
                </div>
                <div class="input-box">
                    <label>* 만들고 싶은 서비스</label>
                    <br>
                    <textarea name="service" name="answer1" required=""></textarea>
                </div>
                <div class="input-box">
                    <label>* 가장 기억에 남는 단체활동 경험 또는 프로젝트 경험을 말씀해주세요! (코딩 관련 경험이 아니어도 좋습니다!)

                    </label>
                    <br>
                    <textarea name="memory" name="answer1" required=""></textarea>
                </div>
                <div class="input-box">
                    <label>* 코딩이나 프로그래밍 언어를 접한 적이 있나요? 만약 없다면, 알고 있거나 배우고 싶은 내용을 말씀해주세요!

                    </label>
                    <br>
                    <textarea name="coding" name="answer1" required=""></textarea>
                </div>
                <div class="input-box policy_box">
                    인천대 멋쟁이 사자처럼이 운영하는 inulion.xyz는 개인정보를 중요하게 생각하며 “정보통신 이용촉진 및 정보보호등에 관한 법률“,<br>
                         “개인정보보호법 제15조” 등 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보를 취급(처리)하고 있습니다.<br>
                     <br><br>
                     1. 개인정보의 이용목적<br>
                     ○ 이용목적 : 멋쟁이 사자처럼 8기 모집 자료로서의 이용<br>
                     <br><br>
                     2. 개인정보의 수집항목<br>
                    인천대 멋쟁이 사자처럼에서는 필수정보와 선택정보로 구분하여 다음의
                         정보를 수집하고 있습니다.<br>
                     ○ 수집항목 : 성명, 성별, 학번, 휴대폰번호, 학과, url<br>
                     <br><br>
                     3. 개인정보의 보유 및 이용기간<br>
                     ○ 인천대 멋쟁이 사자처럼에서는 정보주체의 회원 가입일로부터 서비스를 제공하는 기간 동안에 한하여 인천대 멋쟁이 사자처럼 지원 서비스를 이용하기 위한 최소한의 개인정보를
                         보유 및 이용하게 됩니다.<br>
                     <br><br>
                     4. 동의 거부 권리 안내<br>
                     ○ 정보주체는 개인정보 수집·이용 동의를 거부 할 수 있습니다. 다만, 이 경우 멋쟁이 사자처럼 지원에 있어 제한이 있을 수 있습니다.<br>
                     ※ 수집된 개인정보는 포털시스템을 이용하기 위한 정보 이외의 용도로 이용되지 않으며, 제 3자에게 제공하지 않습니다.<br><br>
                </div>
                <input type="checkbox" name="policy" required="">
                <span class="B">(필수) 동의합니다</span>
                <input class="btn btn-dark submit_button" type="submit" value="제출하기">
            </form>
    </div>
    
{%endblock%}
