{%include 'base.html'%}
{%load static%}
{%block content%}
    <div class="middle_content" >
        <h1 class="B title" >INU 8기</h1>
        <h1 class="yellow B title_lion">멋쟁이 사자처럼 </h1>
        <h3 class="yellow B">모집 기간</h3>
        <h2>2019년 03월 24일 00시 00분
            ~ 2019년 03월 30일 23시 59분</h2>

        <div class="social">
            <h3 class="yellow B">문의사항</h3>
            <span class="yellow B">Facebook : </span>
            <a href="https://facebook.com/likelioninu">
                <img
                style="width:70px;height:50px;"
                src="{% static 'image/facebook.png' %}"  
                alt="fb"/>
            </a>
            <br>
            <span class="yellow B">KakaoTalk : </span>
            <a href="https://pf.kakao.com/_suMPd">
                <img
                style="width:120px;height:40px;"
                src="{% static 'image/kakao.png' %}"  
                alt="fb"/>
            </a>
        </div>
        <button 
            onclick="location.href='/next'" 
            class="btn btn-warning button_lion">
            <span class="B">지원하기!</span>
        </button>
        
    </div>
{%endblock%}
