{%include 'base.html'%}
{%load static%}
{%block content%}
    <div class="middle_content" >
        
        <h1 class="B title" >INU 8기</h1>
        <h1 class="yellow B title_lion">멋쟁이 사자처럼 </h1>
        <!--<div style="height:230px;padding-top:5px; background: linear-gradient( to right,black,rgba(255, 174, 0, 0.1),black);"class="container-fluid">
        <iframe width="378" height="220.5" src="https://www.youtube.com/embed/tEYjpFcp86Y?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>    -->
        <p>모집 기간 03/24 ~ 03/31</p>
        <button 
            onclick="location.href='/next'" 
            class="btn btn-warning button_lion">
            <span class="B">지원하기!</span>
        </button>
    </div>
{%endblock%}
