{%include 'base.html'%}
{%load static%}
{%block content%}
    <div style="
    text-align:center;
    color:white;margin-bottom:300px;" >
        <iframe width="560" height="315" style="max-width:80%; margin-top:50px;margin-bottom:10px;" src="https://www.youtube.com/embed/tEYjpFcp86Y?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <p>멋쟁이 사자처럼이 <span class="yellow B">스타트업 사관학교</span>로 변신합니다</p>
        <p>매주 (월,화,수)요일중 하루 4시 이후에 정규세션이 있을 예정이며,</p>
        <p>개인 스케줄에 맞춰 스터디도 진행될 예정입니다.</p>
        <button 
            onclick="location.href='/apply'" 
            class="btn btn-warning button_lion">
            <span class="B">확인했습니다!!</span>
        </button>
        
        
    </div>
{%endblock%}
