{%include 'base.html'%}
{%load static%}
{%block content%}
    <div class="middle_content" >
        <h1 class="yellow B title_lion">코딩동아리 += 창업동아리!! </h1>
        <h3 class="yellow B">멋쟁이 사자처럼의 새로운 시작</h3>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/tEYjpFcp86Y?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <button 
            onclick="location.href='/apply'" 
            class="btn btn-warning button_lion">
            <span class="B">진짜지원하기!!</span>
        </button>
        
    </div>
{%endblock%}
